{{#d-modal-body id="discourse-n8n-wf-modal"}}
  Paste your workflow code here (<a href="https://docs.n8n.io">how to get it</a>)
  {{textarea name="wfInput" value=content}}
  {{input type="checkbox" checked=addImage}}
  Add a preview image of the workflow
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    action="submit"
    class="btn-primary"
    label="Done"
    disabled=submitDisabled}}
</div>
